// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  min-height: 100vh;
}

%d-flex-cnw {
  display: flex;
  flex-flow: column nowrap;
}
%d-flex-rw {
  display: flex;
  flex-flow: row wrap;
}
%d-flex-rnw {
  display: flex;
  flex-flow: row nowrap;
}

.main-container {
  @extend %d-flex-cnw;
  justify-content: center;
  align-items: center;
}
.img-container {
  @extend %d-flex-rnw;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.home-page-img {
  height: 525px;
  width: 900px;
}

.form-errors-container {
  @extend %d-flex-cnw;
  width: 40vw;
  margin-top: 10px;
  padding-top: 3px;
}
.form-errors {
  list-style: none;
  background-color: rgba(255, 0, 0, 0.26);
  @extend %d-flex-cnw;
  align-items: center;
}
.form-container {
  margin-top: 40px;
  height: 40vh;

}
.idea-form {
  @extend %d-flex-cnw;
  height: 35vh;
  width: 50vh;
  justify-content: space-evenly;
  align-items: center;
}
.btn {
  width: 150px;
  height: 50px;
  @extend %d-flex-rnw;
  justify-content: center;
  align-items: center;
}
.ideas-container {
  @extend %d-flex-cnw;
}
.idea {
  @extend %d-flex-cnw;
  width: 50vw;
  margin: 20px 0;
}
.idea-info {
  @extend %d-flex-rnw;
  justify-content: space-between;
}
.idea-container {
  @extend %d-flex-cnw;
  width: 80vw;
  align-items: center;
  justify-content: center;

}
.idea-body {
  @extend %d-flex-cnw;
  margin-top: 10px;
  padding-top: 10px;
  width: 40vw;
  align-items: center;
  height: 10vh;
}
.idea-secondary {
  @extend %d-flex-rnw;
  width: 40vw;
  height: 10vh;
  justify-content: space-around;
  align-items: stretch;
}
.idea-info-show {
  @extend %d-flex-rnw;
  width: 40vw;
  justify-content: space-evenly;
}





